/* javascript darkmode */
.dark-mode {
      background-color: rgb(24, 24, 24);
      color: white;
}

.nav-dark {
      background-color: rgb(24, 24, 24);
      border-bottom: solid 1px rgb(37, 37, 37);
}

a h1 {
      color: white;
}

.isi .box {
      border: solid 1px rgb(104, 104, 104);
}
