/* content */
.content {
      /* background-color: antiquewhite; */
      width: 80%;
      margin: 80px auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      /* align-items: center; */
      /* border-bottom: solid 1px rgb(202, 202, 202); */
}

.content .ket {
      display: flex;
      justify-content: space-between;
      padding: 40px 0 40px 0;
      border-bottom: solid 1px rgb(211, 211, 211);
}

.content .left {
      width: 50%;
      padding: 15px 0 15px 0;
}

.content .left h2 {
      font-weight: bolder;
}

.content .left .page {
      margin-bottom: 7px;
      font-weight: 700;
      color: #ff4261;
}

.content .left .author {
      display: flex;
      margin: 30px 0 30px 0;
      justify-content: center;
      width: 100%;
}

.content .left .author div {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
}

.content .left .author div b {
      margin-bottom: 8px;
      color: #ff4261;
}

.content .left .author .b2 {
      border-left: solid 1px rgb(207, 207, 207);
}

.content .ket .left .kesulitan {
      width: 100%;

      display: flex;
      justify-content: space-around;
}

.content .ket .left .kesulitan span {
      padding: 20px;

      display: flex;
      flex-direction: column;
      align-items: center;
}
.content .ket .left .kesulitan span i {
      font-size: 20px;
      margin-bottom: 8px;
      color: #ff4261;
}

.content .ket .left .kesulitan .mid {
      border-right: solid 1px rgb(207, 207, 207);
      border-left: solid 1px rgb(207, 207, 207);
}

.content .ket .left .special {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 20px;
}

.content .ket .left .special .special-item {
      display: flex;
      /* justify-content: flex-start; */
      align-items: center;
      padding: 14px;
}

.content .ket .left .special .special-item img {
      width: 50px;
}

.content .gambar {
      width: 50%;
      display: flex;
      justify-content: end;
}
.content .gambar img {
      object-fit: cover;
      object-position: center center;
      width: 480px;
      height: 460px;
      border-radius: 8px;
}

.content .deskripsi {
      margin: 40px 0 40px 0;

      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
}

/* Jika ada img di dalam deskripsi */

.content .deskripsi .basabasi p img {
      display: none;
}

.content .deskripsi .basabasi {
      width: 74%;
      margin-bottom: 30px;
}

.content .deskripsi .basabasi h4 {
      font-weight: bolder;
      margin-bottom: 20px;
}

.content .deskripsi .basabasi .bahan p i {
      color: #ff4261;
      margin: 0 10px 0 20px;
}

.content .deskripsi .basabasi .langkah div {
      display: flex;
}

.content .deskripsi .basabasi .langkah div span {
      font-weight: bolder;
      font-size: large;
      padding: 0 20px 0 20px;
      color: #ff4261;
}

/* lainnya */
.lainnya {
      width: 80%;
      margin: 10px auto;
      display: flex;
      flex-direction: column;
}

.lainnya .isi {
      width: 100%;
}

.lainnya h4 {
      font-weight: bolder;
      margin-left: 30px;
}

/* VIDEO YT */
.yt {
      display: flex;
      justify-content: center;
      margin-bottom: 40px;
      margin-top: -135px;
}
.yt .video-yt {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 80%;
      border-bottom: solid 1px rgb(202, 202, 202);
}

.video-yt iframe {
      width: 600px;
      height: 350px;
      margin-bottom: 40px;
}

.video-yt .title p {
      text-align: center;
}
