/* TAGLINE */
@media screen and (max-width: 674px) {
      .tagline p {
            width: 100%;
      }

      .search input {
            width: 85%;
      }
}

@media screen and (max-width: 621px) {
      .isi .box {
            width: 340px;
            max-height: 380px;
      }

      .isi .box .image img {
            width: 338px;
            height: 100%;
            max-width: none;
            max-height: none;
      }
}

@media screen and (max-width: 1350px) {
      .footer {
            align-items: center;
            flex-direction: column;
      }

      .footer .kanan {
            margin-top: 12px;
      }
}

@media screen and (max-width: 800px) {
      .isi .box:hover {
            transform: none;
      }

      .footer .kiri {
            flex-direction: column;
            align-items: center;
            margin: auto;
            width: 99%;
      }

      .footer .kiri .copyright {
            border-left: none;
            width: 100%;
            border-top: solid 1px rgb(236, 236, 236);
      }

      .footer .kiri .copyright p {
            text-align: center;
      }

      .footer .kanan {
            width: 99%;
      }
}

/* DETAIL */
@media screen and (max-width: 1210px) {
      .content .gambar {
            justify-content: center;
            align-items: center;
      }
      .content .gambar img {
            width: 380px;
            height: 360px;
      }
}

@media screen and (max-width: 983px) {
      .content .ket .left {
            width: 100%;
      }

      .content .ket .gambar {
            width: 100%;
      }

      .content .ket .gambar img {
            width: 480px;
            height: 460px;
      }
      .content .ket {
            flex-direction: column-reverse;
      }
}

@media screen and (max-width: 621px) {
      .content .deskripsi .basabasi {
            width: 100%;
      }
}

/* YT */
@media screen and (max-width: 815px) {
      .video-yt iframe {
            width: 390px;
            height: 220px;
      }
}

@media screen and (max-width: 633px) {
      .content .ket .gambar img {
            width: 340px;
            height: 320px;
      }
      .video-yt iframe {
            width: 330px;
            height: 160px;
      }
}
